<body>
  <div class="container mt-3">
    <form action="/kategori/store" method="POST">
      <div class="mb-3">
        <label for="nama" class="form-label">Nama Kategori</label>
        <input type="text" class="form-control" name="nama_kategori" required />
      </div>
      <div class="mb-3">
        <label for="nama" class="form-label">Judul Kategori</label>
        <input
          type="text"
          class="form-control"
          name="judul_kategori"
          required
        />
      </div>
      <div class="mb-3">
        <label for="nama" class="form-label">Deskripsi</label>
        <input type="text" class="form-control" name="deskripsi" required />
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-sm btn-success">Simpan</button>
      </div>
    </form>
  </div>
</body>
