<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UAS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,
    shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/stylesheets/css/index.css" />
    <link rel="stylesheet" href="/stylesheets/css/font.css" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <link rel="stylesheet" href="/stylesheets/css/components.css" />
    <link rel="stylesheet" href="/stylesheets/css/Landingpage.css" />
  </head>
  <body>
    <div class="landing-page">
      <!-- header section -->
      <header class="header">
        <img
          src="/images/img_header_logo.png"
          alt="headerlogo"
          class="header__logo"
        />
        <ul class="header__menu">
          <li>
            <a href="#">
              <p class="ui text size-s">Contact</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p class="ui text size-s">About Us</p>
            </a>
          </li>
          <li class="group">
            <div class="header__submenu">
              <p class="ui text size-s">Kategori</p>
              <img
                src="/images/img_arrow_down.svg"
                alt="arrowdown"
                class="header__submenu-icon"
              />
            </div>
            <div class="group-1">
              <div class="menu-container">
                <div class="menu-group">
                  <div class="menu">
                    <p class="mega-menu__title ui text">Title 1</p>
                    <div class="menu-column">
                      <a href="#">
                        <p class="mega-menu__text ui text">Menu 1</p>
                      </a>
                      <a href="#" class="menu-link">
                        <p class="mega-menu__text ui text">Menu 2</p>
                      </a>
                      <a href="#" class="menu-link">
                        <p class="mega-menu__text ui text">Menu 3</p>
                      </a>
                      <a href="#" class="menu-link">
                        <p class="mega-menu__text ui text">Menu 4</p>
                      </a>
                      <a href="#" class="menu-link">
                        <p class="mega-menu__text ui text">Menu 5</p>
                      </a>
                    </div>
                  </div>
                  <div class="menu">
                    <p class="mega-menu__title ui text">Title 2</p>
                    <div class="menu-column">
                      <a href="#">
                        <p class="mega-menu__text ui text">Menu 1</p>
                      </a>
                      <p class="mega-menu__link ui text">Menu 2</p>
                      <p class="mega-menu__link ui text">Menu 3</p>
                      <p class="mega-menu__link ui text">Menu 4</p>
                      <a href="#" class="menu-link">
                        <p class="mega-menu__text ui text">Menu 5</p>
                      </a>
                    </div>
                  </div>
                  <div class="menu">
                    <p class="mega-menu__title ui text">Title 3</p>
                    <div class="menu-column">
                      <a href="#">
                        <p class="mega-menu__text ui text">Menu 1</p>
                      </a>
                      <a href="#" class="menu-link">
                        <p class="mega-menu__text ui text">Menu 2</p>
                      </a>
                      <a href="#" class="menu-link">
                        <p class="mega-menu__text ui text">Menu 3</p>
                      </a>
                      <a href="#" class="menu-link">
                        <p class="mega-menu__text ui text">Menu 4</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="/file">
              <p class="ui text size-s">Semua Dokumen</p>
            </a>
          </li>
        </ul>
        <div class="header__actions">
          <div class="header__upload">
            <a href="/file/create">
              <img
                src="/images/img_upload.png"
                alt="upload"
                class="header__upload-icon"
              />
            </a>
            <p class="header__upload-text ui text size-s">Unggah</p>
          </div>
          <ul class="header__user-menu">
            <li>
              <a href="#">
                <p class="header__user-menu-item ui text size-xs">
                  <%= email %>
                </p>
              </a>
            </li>
          </ul>
          <div class="header__extra-view"></div>
        </div>
      </header>
      <div class="container">
        <!-- <% if (messages.success) { %>
        <div class="alert alert-info" role="alert"><%- messages.success %></div>
        <% } %> -->

        <div class="content container-sm">
          <div class="content__welcome">
            <p class="content__title ui text size-xl">Selamat Datang</p>
            <p class="content__subtitle ui text size-lg">
              Jelajahi lebih dari 170 juta dokumen dari komunitas global,
              bagikan informasi, dan temukan inspirasi
            </p>
          </div>
          <label class="content__search">
            <img src="/images/img_rewind.svg" alt="rewind" class="rewind" />
            <input name="search" placeholder="Search..." type="text" />
          </label>

          <!-- featured content section -->
          <div class="content__features">
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
          </div>

          <!-- about section -->
          <div class="content__section">
            <h1 class="content__title ui heading size-md">
              Lorem ipsum dolor sit amet consectetur
            </h1>
          </div>

          <!-- description section -->
          <p class="content__description ui text size-md">
            <span class="content__description-span">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem,
              tenetur praesentium. Dolorum accusamus rerum culpa quidem natus
              illo modi amet. Quaerat aperiam labore earum iste odit suscipit,
              molestias nobis quas deleniti, atque ullam, eos veritatis in
              magni. Dolorum ullam, quaerat facere, qui quod inventore cum
              suscipit eos magni voluptas obcaecati officiis saepe quam quos
              illo molestias. Accusantium illo amet consectetur dolor
              perferendis ipsum repellat rerum molestias consequatur deserunt
              voluptas ipsa veniam veritatis, vitae dicta sequi exercitationem.
              Beatae perspiciatis deserunt fugit quo suscipit, officia, sint
              neque ad vero aliquam soluta velit quas provident mollitia esse
              recusandae, temporibus alias magni doloremque debitis? </span
            >
            <a href="#" class="content__description-span-1">
              Pertanyaan Umum tentang Hak Cipta.</a
            >
          </p>
        </div>

        <div class="landing-page-footer">
          <footer class="footer">
            <img
              src="/images/img_rectangle_97.png"
              alt="image"
              class="footer__image"
            />
          </footer>
          <div class="footer__column">
            <div class="footer__column--info container-sm">
              <img
                src="/images/img_footer_logo.png"
                alt="footerlogo"
                class="header__logo"
              />
              <p class="footer__description ui text size-s">
                High level experience in web design and development knowledge,
                producing quality work.
              </p>
              <button class="flex-row-center-center footer__contact-button">
                Contact Us
              </button>
              <div class="footer__social-row">
                <button class="footer__icon-button--facebook">
                  <img
                    src="/images/img_facebook.svg"
                    alt="facebook"
                    class="footer__icon-button--facebook"
                  />
                </button>
                <button class="footer__icon-button--facebook">
                  <img
                    src="/images/img_light_bulb.svg"
                    alt="lightbulb"
                    class="footer__icon-button--facebook"
                  />
                </button>
                <button class="footer__icon-button--facebook">
                  <img
                    src="/images/img_settings.svg"
                    alt="settings"
                    class="footer__icon-button--facebook"
                  />
                </button>
                <img
                  src="/images/img_social.svg"
                  alt="social"
                  class="footer__social-image"
                />
                <button class="footer__icon-button--info">
                  <img
                    src="/images/img_info.svg"
                    alt="info"
                    class="footer__icon-button--info"
                  />
                </button>
                <img
                  src="/images/img_social_white_a700.svg"
                  alt="social"
                  class="footer__social-image"
                />
              </div>
            </div>
            <div class="footer__row">
              <div class="footer__row--rights">
                <div class="footer__column--navigation container-xs">
                  <button class="footer__icon-button--arrowright">
                    <img
                      src="/images/img_arrow_right.svg"
                      alt="arrowright"
                      class="footer__icon-button--arrowright"
                    />
                  </button>
                  <div class="footer__copyright-row">
                    <p class="footer__copyright-text ui text size-xs">
                      © 2021 All Rights Reserved
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
