
<body>
  <div class="container">
    <% if (messages.success) { %>
    <div class="alert alert-info" role="alert"><%- messages.success %></div>
    <% } %>
    <div class="row text-center">
      <div class="col">
        <h1 >Hello 2 : <%= email %></h1>
        <a href="/logout">Logout </a>
      </div>
    </div>
  </div>
</body>

